# Add any directories, files, or patterns you don't want to be tracked by version control
.vs/
DccLiteBrooker/DccLiteBrooker.vcxproj.user
DccLiteBrooker/Debug/
DccLiteBrooker/x64/
x64/
bin/
Common/Debug/
Common/Win32/Debug/Common.idb
Common/Win32/
DccLiteBrooker/Win32/
DccLiteTerminal/Debug/
DccLiteTerminal/Win32/Debug/
Common/obj/
obj/
src/LiteDecoder/.vscode/
/lib/
packages/
