[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "contrib/JsonCreator"]
	path = contrib/JsonCreator
	url = https://github.com/bcsanches/JsonCreator.git
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "contrib/lfwatch"]
	path = contrib/lfwatch
	url = https://github.com/bcsanches/lfwatch.git
[submodule "contrib/wxWidgets"]
	path = contrib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "contrib/EtherCard"]
	path = contrib/EtherCard
	url = https://github.com/bcsanches/EtherCard.git
[submodule "contrib/sigslot"]
	path = contrib/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "contrib/sol2"]
	path = contrib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "contrib/ldmonitor"]
	path = contrib/ldmonitor
	url = https://github.com/bcsanches/ldmonitor.git
