# Add any directories, files, or patterns you don't want to be tracked by version control
.vs/
DccLiteBroker/DccLiteBroker.vcxproj.user
DccLiteBroker/Debug/
DccLiteBroker/x64/
x64/
bin/
Common/Debug/
Common/Win32/Debug/Common.idb
Common/Win32/
DccLiteBroker/Win32/
DccLiteTerminal/Debug/
DccLiteTerminal/Win32/Debug/
Common/obj/
obj/
src/LiteDecoder/.vscode/
/lib/
packages/

build/
src/LiteDecoder/.pio/
/build_clang
check-cppcheck-build-dir/
src/Embedded/.pio/
src/Embedded/.vscode/
.vscode/DccLiteBroker.log
