[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "contrib/JsonCreator"]
	path = contrib/JsonCreator
	url = https://github.com/bcsanches/JsonCreator.git
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/LiteDecoder/lib/EtherCard"]
	path = src/LiteDecoder/lib/EtherCard
	url = https://github.com/bcsanches/EtherCard.git
